@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

.body-modal a {
  color: #fff;
  text-decoration: none;
}

.body-modal header {
  width: 100%;
  color: #fff;
  background-color: black;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  position: fixed;
}

.body-modal header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
}

.body-modal header .logo h1 {
  font-size: 32px;
  font-weight: bold;
  padding-top: 3px;
  cursor: pointer;
}

.body-modal header .logo h1 :hover {
  color: #fff;
}

.body-modal header .logo img {
  padding-right: 5px;
}

.body-modal header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5vw;
  margin-top: 20px;
}

.body-modal header .header-menu :hover {
  margin-top: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.body-modal header .header-menu p {
  margin-right: 1vw;
  cursor: pointer;
}

.body-modal header .booking-btn {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: 20px;
}

.body-modal header .booking-btn :hover {
  background-color: #afa408;
}

.body-modal header .booking-btn span {
  background-color: #978F10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  cursor: pointer;
  padding: 10px 20px;
  opacity: 0.9;
  margin-top: 10px;
  margin-bottom: 10px;
}

.body-modal header .booking-btn span img {
  padding-right: 5px;
}

.body-modal header .booking-btn span p {
  margin: 0 auto;
}

main #main-img {
  position: relative;
  overflow: hidden;
}

main #main-img .slider {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

main #main-img .slider img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.5;
  -o-object-fit: cover;
     object-fit: cover;
}

main #main-img .slider #img1 {
  z-index: 3;
  -webkit-animation: slide 21s 0s infinite both;
          animation: slide 21s 0s infinite both;
}

main #main-img .slider #img2 {
  z-index: 3;
  -webkit-animation: slide 21s 7s infinite both;
          animation: slide 21s 7s infinite both;
}

main #main-img .slider #img3 {
  z-index: 1;
  -webkit-animation: slide 21s 14s infinite both;
          animation: slide 21s 14s infinite both;
}

main #main-img .main-text h2 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 80px;
  position: absolute;
  font-size: 34px;
  color: #fff;
  margin-top: 30vh;
  margin-left: 70vw;
  z-index: 4;
}

main .comment-wrapper {
  background-image: url("../tyukyu-Ex/bg.png");
}

main .comment-wrapper .comment {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  padding-top: 50px;
  padding-bottom: 50px;
}

main .comment-wrapper .comment h2 {
  line-height: 60px;
  padding-left: 60px;
  font-size: 36px;
}

main .comment-wrapper .comment p {
  line-height: 40px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 16px;
}

main .comment-wrapper .comment h3 {
  padding-right: 60px;
  padding-top: 250px;
  font-size: 16px;
}

main .about div {
  margin-top: 40px;
  margin-bottom: 40px;
}

main .about div h3 {
  font-size: 36px;
}

main .about div p {
  font-size: 16px;
}

main .about img {
  width: 55vw;
  height: 35vw;
  -o-object-fit: cover;
     object-fit: cover;
}

main .about .room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about .room .room-img {
  margin-left: 0 auto;
}

main .about .room .room-comment {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main .about .room .room-comment p {
  margin-top: 72px;
  margin-bottom: 42px;
}

main .about .room .room-comment button {
  font-size: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  cursor: pointer;
  padding: 20px 52px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #fff;
}

main .about .meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about .meal .meat-img {
  margin-right: auto;
}

main .about .meal .meal-comment {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main .about .meal .meal-comment p {
  margin-top: 72px;
  margin-bottom: 42px;
}

main .about .meal .meal-comment button {
  font-size: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  cursor: pointer;
  padding: 20px 52px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #fff;
}

main .about .onsen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .about .onsen .onsen-img {
  margin-left: 0 auto;
}

main .about .onsen .onsen-comment {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main .about .onsen .onsen-comment p {
  margin-top: 72px;
  margin-bottom: 42px;
}

main .about .onsen .onsen-comment button {
  font-size: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  cursor: pointer;
  padding: 20px 52px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #fff;
}

main .plan {
  background-image: url("../tyukyu-Ex/bg02.png");
  text-align: center;
}

main .plan img {
  margin-top: 30px;
  margin-bottom: 20px;
}

main .plan .plan-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90％;
  margin-right: auto;
  margin-left: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 40px;
}

main .plan .plan-contents h5 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 25px;
}

main .plan .plan-contents p {
  font-size: 16px;
}

main .plan .plan-contents .fish {
  width: 300px;
}

main .plan .plan-contents .fish img {
  margin-right: auto;
  margin-left: auto;
  height: 209px;
}

main .plan .plan-contents .club {
  width: 300px;
}

main .plan .plan-contents .club img {
  margin-right: auto;
  margin-left: auto;
  height: 209px;
}

main .plan .plan-contents .sashimi {
  width: 300px;
}

main .plan .plan-contents .sashimi img {
  margin-right: auto;
  margin-left: auto;
  height: 209px;
}

main .news {
  text-align: center;
  margin-top: 60px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

main .news h3 {
  font-size: 36px;
  margin-top: 20px;
}

main .news p {
  font-size: 16px;
  display: inline-block;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 20px;
}

main .news .news-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

main .news .news-tag p {
  margin-top: 0;
}

main .news .news-tag h6 {
  font-size: 14px;
  text-align: left;
  margin-left: 20px;
}

main .news .news-tag img {
  width: 80px;
  height: 80px;
  vertical-align: middle;
}

main .news .news-tag .news1 {
  width: 45%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
  padding: 10px 20px;
  margin: 10px auto 10px auto;
}

main .news .news-tag .news2 {
  width: 45%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
  padding: 10px 20px;
  margin: 10px auto 10px auto;
}

main .news .news-tag .news2 {
  width: 45%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
  padding: 10px 20px;
  margin: 10px auto 10px auto;
}

main .news .news-tag .news3 {
  width: 45%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
  padding: 10px 20px;
  margin: 10px auto 10px auto;
}

main .news .news-tag .news4 {
  width: 45%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
  padding: 10px 20px;
  margin: 10px auto 10px auto;
}

main .news .news-tag .news5 {
  width: 45%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
  padding: 10px 20px;
  margin: 10px auto 10px auto;
}

main .news .news-tag .news6 {
  width: 45%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
  padding: 10px 20px;
  margin: 10px auto 10px auto;
}

main .access {
  background-image: url("../tyukyu-Ex/bg.png");
  text-align: center;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

main .access img {
  padding-top: 60px;
}

main .access h3 {
  font-size: 36px;
}

main .access .access-info {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

main .access .access-info .access-info-pic {
  margin-right: 40px;
  margin-left: auto;
}

main .access .access-info .access-info-pic img {
  height: 300px;
  width: 450px;
  padding-top: 0;
}

main .access .access-info .access-info-info {
  margin-left: 20px;
  margin-right: auto;
  width: 30%;
  text-align: left;
}

main .access .access-info .access-info-info p {
  font-size: 14px;
}

main .access .map img {
  padding-top: 0;
  margin: 60px auto;
  width: 550px;
  height: 450px;
}

footer .footer-top {
  background-image: url("../tyukyu-Ex/bg3.png");
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer .footer-top img {
  padding: 16px;
}

footer .footer-top h3 {
  font-size: 32px;
  margin-bottom: 30px;
}

footer .footer-top .vartical {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
}

footer .footer-top .vartical p {
  line-height: 50px;
  letter-spacing: 10px;
  color: black;
}

footer .footer-top .address {
  padding-bottom: 16px;
}

footer .footer-top .address p {
  font-size: 16px;
  margin-bottom: 0;
}

footer .footer-bottom {
  margin-bottom: 0;
  vertical-align: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 16px;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=style.css.map */